@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$family-sans-serif: 'Open Sans', sans-serif;

$primary: #009688;
$primary-invert: findColorInvert($primary);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-tooltip/src/sass/index.sass";

.dotunder {
  border-bottom: .1rem dashed #4a4a4a;
  display: inline;
}

.stroke {
  background-color: $dark;
  color: $white;
}

.container.page,
.container.lesson,
.container.narrow {
  max-width:65rem;
}

.container.lesson,
.container.page{
  margin-top:5rem
}

.container.lesson{
  margin-bottom:10rem
}
